.table-pagination {
  display: flex;
  justify-content: right;
  margin: 0 20px;
}

.pagination-btn {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 0 1px;
  cursor: pointer;
  border: 1px solid gray;
  color: gray;
}

.pagination-active-btn {
  width: 20px;
  height: 20px;
  margin: 0 1px;
  border: 1px solid gray;
  background-color: #4550a9;
  color: #fff;
  font-weight: 900;
}

.pagination-btn:hover {
  border-color: #4550a9;
  color: #4550a9;
}

.pagination-btn:active {
  position: relative;
  top: 2px;
}

.pagination-btn:disabled {
  color: black;
  border-color: black;
}
