.table-search {
  width: 300px;
  margin: 20px 0;
  border: 1px solid #2c2d34;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table-search-icon {
  margin-right: 10px;
}

.table-search-input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 80%;
}

.remove-search-value-btn {
  width: 20px;
  background-color: #fff;
  color: gray;
  padding: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.remove-search-value-btn:hover {
  color: red;
  border-color: red;
}
